	.circles {
		display: flex;
		justify-content: space-between;
		margin-top: 15px;
	}

	.circles span:nth-child(4n + 1), 
	.circles-two span:nth-child(4n + 1) {
		background: #4D9B6F;
	}

	.circles span:nth-child(4n + 2),
	.circles-two span:nth-child(4n + 2) {
		background: #AB6668;
	}

	.circles span:nth-child(4n + 3),
	.circles-two span:nth-child(4n + 3) {
		background: #47505e;
	}

	.circles span:nth-child(4n + 4),
	.circles-two span:nth-child(4n + 4) {
		background: #7E6465;
	}

	.dot {
		display: block;
		height: 70px;
		width: 120px;
		background-color: #A0C9AF;
		border-radius: 50%;
	}