/*RESET & SETUP*/
	@import 'boilerplate/css/meyer-reset.css';
	@import 'boilerplate/css/setup.css';

/*BACKGROUND*/
	@import 'background.css';

/*SITE CREATED BY CHANELLE*/
	* {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: 'Apple SD Gothic Neo', sans-serif;
		background: #f7f9f8;
		text-align: left;
		margin: 0;
		min-height: 100vh;
		position: relative;
		overflow: visible;
	}

	a, .goals-resume a {
		font-family: serif;
		display: inline-block;
		color: #000301;
		text-decoration: none;
		font-variant: small-caps;
	}

	a:hover, .goals-resume a:hover, .page-header nav a:hover {
		color: #79dca7;
		font-size: 28px;
		transition: .3s ease-out;
	}

	inner-column {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 98%;
		max-width: 800px;
	}

	/*START STRUCTURE*/

	/*HEADER*/

	.page-header {
		width: 100%;
		background: #e0e0e0;
		color: #7e6465;
	}

	divider {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
	}

	img {
		width: 100%;
	}

	divider nav {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-top: 10px;
			gap: 12px;
		}

/*	INTRO*/

		.logo {
			margin-top: 15px;
			display: inline-block;
			width: 100px;
			height: auto;
		}

		.intro-para {
			margin-top: 50px;
			margin-bottom: 100px;
			height: 50vh;
		}

		intro-title {
			display: block;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 30px;
			padding: 15px;
			margin-top: 20px;
		}

		social-links {
			display: block;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
			justify-content: center;
			margin-top: 50px;
			margin-left: 50px;
		}

		social-links picture {
			display: block;
			width: 75px;
		}

	/*	ABOUT*/
		
	about {
		display: block;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}

	.goals-resume {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		gap: 40px;
		margin-left: 30px;
		padding: 20px;
	}

	/*	RESUME*/
	education, skills {
		display: block;
		border-left: 3px solid #212e6e;;
		padding: 15px;
	}
	
	.resume-text {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}

	.year-education {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: -40px;
	}

	h2 + hr {
		margin-top: -15px;
	}


	/*FOOTER*/

	.site-footer {
		width: 100%;
		background: #212e6e;
		color: #f7f9f8;
		padding: 30px;
		margin-top: 150px;
	}

	directory {
		display: block;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.home-links, .work-links, .about-links {
		display: block;
		display: flex;
		flex-direction: column;
		padding: 15px;
	}

	contact {
		display: flex;
		flex-direction: column;
		gap: 15px;
		align-items: center;
	}

	contact nav {
		display: flex;
		flex-direction: row;
		gap: 40px;
		padding: 12px;
	}

	site-map nav a {
		text-decoration: small-caps;
	}

	site-map nav a:hover {
		font-size: 40px;
		transition: .3s ease-out;
		padding: 0;
	}

/*	CONTACT PAGE*/
	contact {
		display: block;
	}

	contact nav {
		border: 2px solid #212e6e;
		padding: 50px;
		display: flex;
		flex-direction: column;
		padding-bottom: 70px;
	}

	nav div {
		text-decoration: none;
	}


	/*END STRUCTURE*/

	/*TYPOGRAPHY*/

	/*	HEADER*/

	.header-name {
		font-size: 20px;
	}

	.page-header nav a {
		font-family: serif;
		font-size: 18px;
	}

	h1 {
		color: #212e6e;
		font-family: 'Prohibition Test';
		font-size: 45px;
		display: inline-block;
	}

	h2 {
		font-family: 'Apple SD Gothic Neo';
		font-size: 18px;
		margin-bottom: 10px;
		margin-left: 30px;
	}

/*	ABOUT*/

	.developer-info, .hcw-info, .regular-info {
		border: 2px solid #000301;
		padding: 12px;
		border-radius: 10px;
		}

	p {
		color: #000301;
		font-family:'Apple SD Gothic Neo';
		font-size: 20px;
		font-weight: 400;
		line-height: 1.3;
		max-width: 70ch;
		letter-spacing: .03em;
		text-align: left;
		padding: 20px;
	}

	.about-images {
		display: block;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 15px;
		align-content: center;
		justify-content: center;
	}

	.about-images picture {
		display: block;
		max-width: 250px;
	}

/*	RESUME*/

	.year-education h3, .year-education p {
		display: inline-block;
	}

	h3, h4 {
		color: #AB6668;
	}

	h5 {
		margin-bottom: -10px;
	}

/*	FOOTER*/

	.site-footer {
		margin-top: 50px;
	}

	directory nav a {
		color: #f7f9f8;
		font-size: 18px;
	}

	.footer-text {
		color: #000301;
		font-size: 20px;
		font-weight: 500;
		margin-top: 0;
		padding: 0;
	}

/*END TYPOGRAPHY*/


/*BREAKPOINT 1*/
	@media (max-width: 500px) {

		divider {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 40px;
		}

		.page-header nav {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.page-header a {
			font-size: 30px;
			font-weight: 500;
			line-height: 1.5;
			color: ;
		}

		.social {
			display: flex;
			flex-direction: column;
			gap: 15px;
			justify-content: center;
		}

		.site-footer {
		width: 100%;
		margin-top: 80px;
		margin-bottom: 20px;
		}
	}













