				body {
					font-family: 'Apple SD Gothic Neo', sans-serif;
					margin: 0;
					min-height: 100vh;
					display: flex;
					flex-direction: column;
				}

				main {
					flex-grow: 1;
				}


				a {
					display: inline-block;
				}

				inner-column {
					display: block;
					margin-right: auto;
					margin-left: auto;
					width: 98%;
					max-width: 800px;
				}

				/*START STRUCTURE*/

				/*GOALS*/

				list {
					display: block;
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					gap: 40px;
					margin-top: 100px;
				}

				goal {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: center;
				}

				ul {
					max-width: 65ch;
					padding-right: 8px;
/*					border: 3px solid #1a3573;*/
				}

				/*TYPOGRAPHY*/

				.goal-title {
					color: #AB6668;
					transform: rotate(-90deg);
				}

				h2 {
					margin: 0;
				}
				
				/*GOAL HEADER*/
				
				list h2 {
					color: #AB6668;
					font-size: 40px;
					line-height: 1.3;
					padding: 15px;
				}

				/*LIST*/

				li {
					display: flex;
					flex-direction: row;
					align-items: flex-start;
					justify-content: center;
					font-family: sans-serif;
					font-size: 16px;
					line-height: 1.2;
				}




				/*	BREAKPOINT 1*/
				@media (max-width: 500px) {

					goal {
						display: flex;
						flex-direction: column;
						align-items: center;
						gap: -10px;
					}

					list h2 {
						transform: rotate(0deg);
						position: static;
						margin-top: -115px;
					}

					ul {
						position: static;
						margin-bottom: 20px;
					}

				}

				/*	BREAKPOINT 2*/

				@media (max-width: 700px) {
					.goal-head {
						margin-bottom: 100px;
					}

					ul {
						max-width: 350px;
						left: 250px;
						margin-top: 75px;
					}
			}













