/*RESET & SETUP*/
	@import 'boilerplate/css/meyer-reset.css';
	@import 'boilerplate/css/setup.css';
	@import 'typography.css';

/*SITE CREATED BY CHANELLE*/
/*STRUCTURE*/
	* {
		box-sizing: border-box;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		font-family: 'Kollektif', sans-serif;
		background: #f7f9f8;
		text-align: left;
		margin: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}

	main {
		flex-grow: 1;
	}

	a, .goals-resume a {
		display: inline-block;
/*		color: #000301;*/
		text-decoration: none;
	}

	inner-column {
		display: block;
		margin-right: auto;
		margin-left: auto;
		width: 98%;
		max-width: 800px;
	}

	/*START STRUCTURE*/

	/*HEADER*/

	img {
		width: 100%;
	}

/*	INTRO*/

		.logo {
			margin-top: 15px;
			display: inline-block;
			width: 100px;
			height: auto;
		}

		.intro-para {
			margin-top: 50px;
			margin-bottom: 100px;
			height: 50vh;
		}

		intro-title {
			display: block;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 30px;
			padding: 15px;
			margin-top: 20px;
		}

		social-links {
			display: block;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 30px;
			justify-content: center;
			margin-top: 50px;
			margin-left: 50px;
		}

		social-links picture {
			display: block;
			max-width: 75px;
		}

	/*	ABOUT*/

	.goals-resume {
		display: flex;
		flex-direction: row;
		align-content: center;
		justify-content: center;
		margin-top: 12px;
		gap: 50px;
		padding: 20px;
	}

	.resume, .goals {
		background:#f7f9f8;
		padding: 15px;
		border-radius: 15px;
	}

	/*	RESUME*/
	education, skills {
		display: block;
		border-left: 3px solid #212e6e;;
		padding: 15px;
	}
	
	.resume-text {
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}

	.year-education {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom: -40px;
	}

	h2 + hr {
		margin-top: -15px;
	}

	/*END STRUCTURE*/

	/*TYPOGRAPHY*/

	/*	HEADER*/

	h1 {
/*		color: #212e6e;*/
		font-family: 'Prohibition Test';
		font-size: 45px;
		display: inline-block;
	}

	h2 {
		font-family: 'Apple SD Gothic Neo';
		font-size: 18px;
		margin-bottom: 10px;
		margin-left: 30px;
	}

/*	ABOUT*/

	.developer-info, .hcw-info, .regular-info {
		border: 2px solid #000301;
		padding: 12px;
		border-radius: 10px;
		}

	p {
		color: #000301;
		font-family:'Apple SD Gothic Neo';
		font-size: 20px;
		font-weight: 400;
		line-height: 1.3;
		max-width: 70ch;
		letter-spacing: .03em;
		text-align: left;
		padding: 20px;
	}

	.about-images {
		display: block;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 15px;
		align-content: center;
		justify-content: center;
	}

	.about-images picture {
		display: block;
		max-width: 250px;
	}

/*	RESUME*/

	.year-education h3, .year-education p {
		display: inline-block;
	}

	h3, h4 {
		color: #AB6668;
	}

	h5 {
		margin-bottom: -10px;
	}

/*END TYPOGRAPHY*/


/*BREAKPOINT 1*/
	@media (max-width: 500px) {

/*		HEADER*/

		divider {
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-bottom: 10px;
		}

		.page-header nav {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

/*		INTRO*/

		.logo {
			margin-top: 15px;
			display: inline-block;
			max-width: 100px;
			height: auto;
		}

/*		NOT SURE ABOUT THIS ONE*/

		.intro-para {
			margin-top: 20px;
			margin-bottom: 100px;
			min-height: 70vh;
		}

		intro-title {
			flex-direction: column;
			align-items: center;
			gap: 15px;
			padding: 10px;
			margin-top: 20px;
		}

		intro-title h1 {
			text-align: center;
		}

		social-links {
			display: flex;
			flex-direction: column;
			gap: 15px;
			align-items: center;
			justify-content: center;
			margin-top: 30px;
/*			margin-left: 50px;*/
		}

		social-links picture {
			display: block;
			max-width: 75px;
		}

/*		ABOUT*/
		about {
		display: flex;
		flex-direction: column;
		gap: 15px;
	}

/*	RESUME*/
	
	.year-education {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: -40px;
	}

	.year-education h3 {
		margin-bottom: -20px;
	}

	.year-education p {
		margin-bottom: 30px;
	}

	section + h5 {
		margin-top: 1px;
		margin-bottom: 15px;
	}









