.site-header {
	background: #c9c9c9;
	grid-row: span 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.site-logo {
	max-width: 200px;
	margin-top: 30%;
}

.social-links {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.social-links picture {
	max-width: 70px;
}

.site-header h3 {
	text-align: center;
}



@media (max-width: 950px) {
	.social-links {
		flex-direction: column;
	}
}

@media (max-width: 750px) {
	.site-logo {
		margin-top: 20px;
		max-width: 100px;
	}

	.social-links {
		display: none;
	}
	}







