* {
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@300&family=Libre+Baskerville&display=swap');
/* font-family: 'Libre Baskerville', serif; */
/* font-family: 'Josefin slab', serif; */
@import url('https://www.peprojects.dev/alpha-5/chanelle/fonts/Migra-extralight.otf');

body {
	margin: 0;
	min-height: 100vh;
}

.inner-column {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 98%;
	max-width: 700px;
}

/*STRUCTURE*/
header {
	width: 100%;
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.svg-image {
	position: absolute;
	top: -10;
	width: 500px;
	height: auto;
	visibility: hidden;
}

.header-image {
	display: block;
	max-width: 100px;
	height: auto;
}

.opening-images {
	margin-bottom: 80px;
}

picture, .photo-1, .photo-2, .photo-3 {
	display: block;
	max-width: 200px;
	border-radius: 50%;
}

.photo-1 {
	position: relative;
	left: 5px;
}

.photo-3 {
	position: relative;
	left: 20%;
	bottom: 50px;
}

img {
	display: block;
	width: 100%;
	border-radius: 50%;
}

.opening-images div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 20px;
}

.site-intro, .reviews {
	max-width: 600px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.quote {
	text-align: center;
}

/*COLORS*/
body {
	background: #eae9e5;
}

/*TYPOGRAPHY*/

body {
	font-family: 'Libre Baskerville', serif;
}

a {
	text-decoration: none;
	color: black;
	transition: .1s all ease-in-out;
	margin-right: 15px;
}

a:hover {
	color: lightpink;
	transition: all .2s ease-in-out;
}

.consult:hover {
	fill: #c48f7f;
}

.quote {
	text-align: center;
	margin-top: 20px;
}

p {
	font-family: georgia;
	font-size: 16px;
	letter-spacing: .03em;
	line-height: 1.4;
	max-width: 70ch;
}

.reviews p {
	background: white;
	max-width: 60ch;
	width: auto;
	padding: 15px;
	border-radius: 15px;
	margin: 30px;
	margin-bottom: 50px;
}

h3, .features {
	display: block;
	font-family: 'Migra-extralight', 'Libre Baskerville', serif;
	font-size: 30px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	margin-bottom: 30px;
}

.features img {
	max-width: 50px;
	height: auto;
	margin: 0 auto;
	display: inline-block;

}

.features a:hover {
	opacity: .4;
	border: none;
}

footer {
	background: #989898;
	width: 98%;
	text-align: center;
	display: block;
	padding: 30px;
}

footer a {
	margin: 0 30px;
}

.social-media img {
	width: 50;
}

/*BREAKPOINT 1*/
@media (min-width: 600px) {
header {
	gap: 23%;
	justify-content: flex-end;
}

picture, .photo-1, .photo-2, .photo-3 {
	max-width: 300px;
}

.photo-1 {
	left: 5px;
}

.photo-3 {
	left: -10px;
	bottom: 0;
}

.opening-images div {
	flex-wrap: nowrap;
}
}

/*BREAKPOINT 2*/
@media (min-width: 900px) {
	.svg-image {
		visibility: visible;
	}

	.header-image {
		justify-content: flex-end;
	}	

	header a {
		display: none;
	}
	
	.page-content {
		position: relative;
		top: 200px;
	}

	.photo-1, .photo-3 {
	left: 0;
}

	.opening-images div {
	gap: 10px;
}
}

/*BREAKPOINT 3*/

@media (min-width: 1300px) {
	.page-content {
		top:0;
	}


}












